*.iml
*.ipr
.idea
.settings
.classpath
.project
.buildpath
.sass-cache
.DS_Store
Thumbs.db
logs
doc
target
application.local.properties
/uploads/
.externalToolBuilders/
update.sh
codetemplates.xml
node_modules/
npm-debug.log
*.bak
*.md
*/META-INF/*

*/uploads/*
admin/node_modules

*/qrcode/*
/qrcode/
/qrcode/*

/service/uploads/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes/

generator_mysql