/* CONTACTS */

.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 150px;
}

.contact-box a {
    color: inherit;
}

.contact-avtar-maxheight {
    max-height: 100px;
}

.contact-status-badge{
  position:absolute;
  top:0;
  right:0;
  color: transparent;
}

.contact-left{
  width:33.33%;
  float:left;
}

.contact-right{
  width:66.66%;
  float:left;
  position:relative;
}