<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocoinfo.repository.budget.YearBudgetDao">
  <resultMap id="BaseResultMap" type="com.rocoinfo.entity.budget.YearBudget">
    <result column="id" property="id" />
    <result column="apply_code" property="applyCode" />
    <result column="apply_title" property="applyTitle" />
    <result column="apply_company" property="applyCompany" />
    <result column="apply_time" property="applyTime" />
    <result column="budget_year" property="budgetYear" />
    <result column="status" property="status" />
    <result column="create_time" property="createTime" />
    <result column="reason" property="reason" />
  </resultMap>


  <sql id="Base_Column_List">
    id, apply_code, apply_title, apply_company, apply_time, budget_year, status, create_time,reason
  </sql>
  <delete id="deleteById" parameterType="long">
    delete from oa_year_budget
    where id=#{id}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="YearBudget" useGeneratedKeys="true">
    insert into oa_year_budget
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyCode != null">
        apply_code,
      </if>
      <if test="applyTitle != null">
        apply_title,
      </if>
      <if test="applyCompany != null">
        apply_company,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="budgetYear != null">
        budget_year,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyCode != null">
        #{applyCode},
      </if>
      <if test="applyTitle != null">
        #{applyTitle},
      </if>
      <if test="applyCompany != null">
        #{applyCompany},
      </if>
      <if test="applyTime != null">
        #{applyTime},
      </if>
      <if test="budgetYear != null">
        #{budgetYear},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
    </trim>
  </insert>

</mapper>