<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rocoinfo.repository.budget.YearBudtetDetailDao" >
  <resultMap id="BaseResultMap" type="com.rocoinfo.entity.budget.YearBudtetDetail" >
    <id column="id" property="id" />
    <result column="year_budget_id" property="yearBudgetId" />
    <result column="subject_code" property="subjectCode" />
    <result column="january" property="january" />
    <result column="february" property="february" />
    <result column="march" property="march" />
    <result column="april" property="april" />
    <result column="may" property="may" />
    <result column="june" property="june" />
    <result column="july" property="july" />
    <result column="august" property="august" />
    <result column="september" property="september" />
    <result column="october" property="october" />
    <result column="november" property="november" />
    <result column="december" property="december" />
    <result column="budget_year" property="budgetYear" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, year_budget_id, subject_code, january, february, march, april, may, june, july, 
    august, september, october, november, december, budget_year
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from oa_year_budtet_detail
    where id = #{id}
  </select>
  <delete id="deleteById" parameterType="long" >
    delete from oa_year_budtet_detail
    where id = #{id}
  </delete>
  <delete id="deleteByBudgetId" parameterType="long" >
    delete from oa_year_budtet_detail
    where budget_id = #{id}
  </delete>
  <insert id="batchInsert"  parameterType="java.util.List"> 
    <!--这里有坑 别粘贴 全角的半角 问题 -->
    insert into   <include refid="Base_Column_List" /> 
    VALUES 
    <foreach collection="details" item="detail" separator=","> 
      (#{detail.year_budget_id},#{detail.subject_code},#{detail.january}, 
      #{detail.february},#{detail.march},#{detail.april},#{detail.may},#{detail.june}, 
      #{detail.july},#{detail.august},#{detail.september},#{detail.october},#{detail.november}, 
      #{detail.december},#{detail.budget_year} ) 
    </foreach> 
  </insert>
  <insert id="insert" parameterType="YearBudtetDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into oa_year_budtet_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yearBudgetId != null" >
        year_budget_id,
      </if>
      <if test="subjectCode != null" >
        subject_code,
      </if>
      <if test="january != null" >
        january,
      </if>
      <if test="february != null" >
        february,
      </if>
      <if test="march != null" >
        march,
      </if>
      <if test="april != null" >
        april,
      </if>
      <if test="may != null" >
        may,
      </if>
      <if test="june != null" >
        june,
      </if>
      <if test="july != null" >
        july,
      </if>
      <if test="august != null" >
        august,
      </if>
      <if test="september != null" >
        september,
      </if>
      <if test="october != null" >
        october,
      </if>
      <if test="november != null" >
        november,
      </if>
      <if test="december != null" >
        december,
      </if>
      <if test="budgetYear != null" >
        budget_year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yearBudgetId != null" >
        #{yearBudgetId},
      </if>
      <if test="subjectCode != null" >
        #{subjectCode},
      </if>
      <if test="january != null" >
        #{january},
      </if>
      <if test="february != null" >
        #{february},
      </if>
      <if test="march != null" >
        #{march},
      </if>
      <if test="april != null" >
        #{april},
      </if>
      <if test="may != null" >
        #{may},
      </if>
      <if test="june != null" >
        #{june},
      </if>
      <if test="july != null" >
        #{july},
      </if>
      <if test="august != null" >
        #{august},
      </if>
      <if test="september != null" >
        #{september},
      </if>
      <if test="october != null" >
        #{october},
      </if>
      <if test="november != null" >
        #{november},
      </if>
      <if test="december != null" >
        #{december},
      </if>
      <if test="budgetYear != null" >
        #{budgetYear},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="YearBudtetDetail" >
    update oa_year_budtet_detail
    <set >
      <if test="yearBudgetId != null" >
        year_budget_id = #{yearBudgetId},
      </if>
      <if test="subjectCode != null" >
        subject_code = #{subjectCode},
      </if>
      <if test="january != null" >
        january = #{january},
      </if>
      <if test="february != null" >
        february = #{february},
      </if>
      <if test="march != null" >
        march = #{march},
      </if>
      <if test="april != null" >
        april = #{april},
      </if>
      <if test="may != null" >
        may = #{may},
      </if>
      <if test="june != null" >
        june = #{june},
      </if>
      <if test="july != null" >
        july = #{july},
      </if>
      <if test="august != null" >
        august = #{august},
      </if>
      <if test="september != null" >
        september = #{september},
      </if>
      <if test="october != null" >
        october = #{october},
      </if>
      <if test="november != null" >
        november = #{november},
      </if>
      <if test="december != null" >
        december = #{december},
      </if>
      <if test="budgetYear != null" >
        budget_year = #{budgetYear},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>