<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.damei.repository.sale.report.ReportAuthorityDao">

    <resultMap id="BaseResultMap" type="ReportAuthority">
        <id property="id" column="id"/>
        <result property="oid" column="oid"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select id="getByOid" parameterType="String" resultMap="BaseResultMap">
      SELECT id,oid,name,remark,create_time,update_time FROM sale_report_authority
      WHERE oid = #{oid}
    </select>

    <insert id="insert" parameterType="ReportAuthority">
        INSERT INTO sale_report_authority(oid,name,remark,create_time,update_time)
        VALUES (#{oid},#{name},#{remark},now(),now())
    </insert>

</mapper>
