<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.repository.sale.dameiorganization.DameiOrganizationDao">
    <resultMap id="BaseResultMap" type="DameiOrganization">
        <id column="id" property="id"/>
        <result column="org_code" property="orgCode"/>
        <result column="org_name" property="orgName"/>
        <result column="parent_id" property="parentId"/>
        <result column="family_code" property="familyCode"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="create_user" property="createUser"/>
        <result column="type" property="type"/>
        <result column="dep_type" property="depType"/>
    </resultMap>
    <sql id="SelectInfo">
    id, org_code, org_name, parent_id, family_code, status, create_date, create_user,type,dep_type
  </sql>
    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization
        where id = #{id}
    </select>
    <select id="getByCode" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization
        where org_code = #{orgCode}
    </select>
    <select id="findAll" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where status=1
    </select>
    <select id="findDept" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where type='DEPARTMENT' and status=1
        <if test="parentId!=null">
            AND parent_id=#{parentId}
        </if>
    </select>
    <select id="findByType" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where status=1 AND type=#{type}
    </select>

    <!--根据家庭码查询部门: type是部门-->
    <select id="findDepartment" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where status=1
        and family_code like CONCAT('%',#{familyCode},'%')
        AND type = 'DEPARTMENT';
    </select>

    <!--根据家庭码查询供应商: type是供应商-->
    <select id="findSuppliers" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where status=1
        and family_code like CONCAT('%',#{familyCode},'%')
        AND type = 'SUPPLIER';
    </select>

    <select id="findGroupDepartment" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from sale_organization where status=1
        and parent_id=98 and type='DEPARTMENT'
    </select>
    <delete id="deleteById" parameterType="long">
    delete from sale_organization
    where id = #{id}
  </delete>
    <insert id="insert" keyProperty="id" parameterType="DameiOrganization" useGeneratedKeys="true">
        insert into sale_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="familyCode != null">
                family_code,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="depType != null">
                dep_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgCode != null">
                #{orgCode},
            </if>
            <if test="orgName != null">
                #{orgName},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="familyCode != null">
                #{familyCode},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="depType != null">
                #{depType},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="DameiOrganization">
        update sale_organization
        <set>
            <if test="orgCode != null">
                org_code = #{orgCode},
            </if>
            <if test="orgName != null">
                org_name = #{orgName},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="familyCode != null">
                family_code = #{familyCode},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="depType != null">
                dep_type=#{depType},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="search" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="SelectInfo"/>
        from sale_organization where status=1
        <include refid="searchWhere"/>
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        LIMIT #{offset},#{pageSize}
    </select>
    <select id="getOrgByLastCode" parameterType="string" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            sale_organization so
        WHERE
        so.family_code LIKE CONCAT('%-' , #{code})
    </select>

    <select id="searchTotal" parameterType="map" resultType="Long">
        SELECT
        COUNT(*)
        FROM sale_organization where status=1
        <include refid="searchWhere"/>
    </select>

    <update id="disableOrg" parameterType="long">
        update sale_organization set STATUS=0 where id=#{id}
    </update>

    <sql id="searchWhere">
        <if test="keyword!=null">
            AND (
            org_code LIKE CONCAT('%', #{keyword}, '%')
            OR org_name LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </sql>
    <select id="findCompany" resultMap="BaseResultMap">
        SELECT org_name,id FROM sale_organization
        WHERE  parent_id=#{parentId}
        AND  type='COMPANY'
    </select>
</mapper>