<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">
    <description>Shiro安全配置</description>

    <!-- shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="sessionManager" ref="defaultWebSessionManager"/>
        <property name="realms">
            <util:set>
                <ref bean="shiroDbAdminRealm"/>
                <ref bean="shiroSSORealm"/>
            </util:set>
        </property>
        <property name="cacheManager" ref="customShiroCacheManager"/>
    </bean>

    <!-- custom shiro session listener -->
    <bean id="customSessionListener" class="cn.damei.shiro.listener.CustomSessionListener">
        <property name="shiroSessionRepository" ref="jedisShiroSessionRepository"/>
    </bean>

    <!-- 管理员用户的realm -->
    <bean id="shiroDbAdminRealm" class="cn.damei.shiro.ShiroDbAdminRealm">
        <property name="credentialsMatcher" ref="customCredentialsMather"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="shiroSSORealm" class="cn.damei.shiro.ShiroSSORealm">
        <property name="userService" ref="userService"/>
    </bean>


    <!-- custom validate password -->
    <bean id="customCredentialsMather"
          class="cn.damei.shiro.CustomShiroCredentialsMatherFactoryBean"/>

    <!-- ...AUTHENTICATION INFO CACHE BEGIN... -->
    <!-- custom sessionDAO,must use class impl CustomShiroSessionRepository
        interface -->
    <bean id="customShiroSessionDAO" class="cn.damei.shiro.session.CustomShiroSessionDAO">
        <property name="shiroSessionRepository" ref="jedisShiroSessionRepository"/>
    </bean>

    <!-- custom save session by memory class impl ShiroSessionRepository interface -->
    <bean id="jedisShiroSessionRepository" class="cn.damei.shiro.session.MemoryShiroSessionRepository">
        <property name="cacheManager" ref="memoryManager"/>
        <property name="sessionTimeOut" value="${session.timeout}"/>
    </bean>
    <!-- ...AUTHENTICATION INFO CACHE END... -->

    <!-- ...AUTHORIZATION INFO CACHE BEGIN... -->
    <!-- custom shiro authorization info cache manager class -->
    <bean id="customShiroCacheManager" class="cn.damei.shiro.cache.CustomShiroCacheManager">
        <property name="shiroCacheManager" ref="memoryShiroCacheManager"/>
    </bean>

    <!-- shiro authorization info default cache is computer memory -->
    <!--<bean id="memoryConstrainedCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/> -->

    <!-- ShiroCacheManager interface impl class by memory,save authorization
        info to memory -->
    <bean id="memoryShiroCacheManager" class="cn.damei.shiro.cache.JedisShiroCacheManager">
        <property name="memoryManager" ref="memoryManager"/>
    </bean>
    <!-- ...AUTHORIZATION INFO CACHE END... -->

    <!-- memory manager class -->
    <bean id="memoryManager" class="cn.damei.shiro.MemoryManager">
    </bean>

    <!-- default web session manager，session expire time 4 hours -->
    <bean id="defaultWebSessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="${session.timeout}"/>
        <property name="sessionDAO" ref="customShiroSessionDAO"/>
        <property name="sessionIdCookie" ref="simpleCookie"/>
        <property name="sessionListeners">
            <list>
                <ref bean="customSessionListener"/>
            </list>
        </property>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="sessionManager" ref="defaultWebSessionManager"/>
        <property name="interval" value="${session.validate.timespan}"/>
    </bean>

    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg index="0" value="JSESSIONID_COOKIE"/>
        <property name="httpOnly" value="true"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/"/>
        <property name="unauthorizedUrl" value="/login"/>
        <property name="filters">
            <util:map>
                <entry key="user" value-ref="multipleViewUserFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
<!--                 /api/wechatUser/** = anon -->
                /pageAuthorizeHandler = anon
                /static-content/** = anon
                /externalApi/** = anon
<!--                 /report = anon -->
<!--                 /login = anon -->
                /service/** = anon
                /wx = anon

                /wx/login = anon
<!--                 /api/wx/dispatcher = anon -->
<!--                 /api/wx/login = anon -->
<!--                 /MP_verify_KznZROUB9KVvgvAK.txt = anon -->
                /admin/** = user[adm]
                /damei/** = user

                / = user
       		    /index = user

            </value>
        </property>
        <!--
        <property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource"/>
        -->
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>